* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background: #deae6e;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 61px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: #66299f;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
}

.image img {
    width: 100%;
    height: 70vh;
}

.images {
    margin-top: 19px;
    display: flex;
    justify-content: space-evenly;
}

.images img {
    width: 30%;
    height: 350px;
}

.container {
    display: flex;
    align-items: end;
    margin-top: 19px;
    width: 100%;
    background-color: #7e95db;
    height: 80vh;
}

.para {
    width: 70%;
}

.para p {
    padding: 0rem 1rem 0 02rem;
}

.imges img{
    width: 76%;
    padding-bottom: 8px;
}